<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .visibleEdit {
        display: flex;
        float: right;
      }
    </style>
    <title><%=title%></title>
  </head>
  <body>
    <idtest style="display: none"><%=idTest%></idtest>
    <div class="container" style="margin-bottom: 100px">
      <p id="vertest" class="text-center fs-2"></p>
      <div id="headtest"></div>
      <div id="quastionsdiv" class="card"></div>
    </div>
    <div
      style="
        position: fixed;
        bottom: 0px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
      "
    >
      <a href="/" id="hometest" class="btn btn-primary" data-type="hometest">
        На главную
      </a>
      <button
        id="cancelchangetest"
        class="btn btn-primary"
        data-type="cancelchangetest"
      >
        Отменить все внесенные изменения в тесте
      </button>
      <button
        id="savechangetest"
        class="btn btn-primary"
        data-type="savechangetest"
      >
        Записать изменения в базу
      </button>
      <button id="savenewtest" class="btn btn-primary" data-type="savenewtest">
        Записать тест в базу как новую версию
      </button>
    </div>
    <script src="/editPage.js"></script>
  </body>
</html>
